.navbar{
    height: 90px;
}
#optionsbtn{
	margin: 20px;
}
.modal-title{
	text-align:center;
}
#ch4{
	height:80px;
	margin-top: -10px;
}
#logoText{
	height: 80px;
}
.glyphicon{
	color:#FFF;
	font-size: 25px;
	padding: 0px;
}
body{
	background: url("images/bigblack.jpg")
}
#mainpage{
    width: 90%;
}
.glyphicon-cog {
  -webkit-transition: -webkit-transform .8s ease-in-out;
  transition: transform .8s ease-in-out;
}
.glyphicon-cog:hover {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
